{% extends "learning_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Update Course</h1>
<form method="post">
    {% csrf_token %}
    {{ form.subject|as_crispy_field }}
    {{ form.code|as_crispy_field }}
    {{ form.title|as_crispy_field }}
    {{ form.description|as_crispy_field }}

    <h3>Number of Categories</h3>
    <div class="form-group">
        <label for="num_categories">Number of Categories</label>
        <input type="number" class="form-control" id="num_categories" name="num_categories" min="1" value="{{ form.num_categories.value }}">
    </div>

    <h3>Categories and Weights</h3>
{% for category in course.categories.all %}
    <div class="form-group">
        <label for="category_name_{{ forloop.counter }}">Category Name</label>
        <input type="text" class="form-control" id="category_name_{{ forloop.counter }}" name="category_name_{{ forloop.counter }}" value="{{ category.name }}">
    </div>
    <div class="form-group">
        <label for="category_weight_{{ forloop.counter }}">Category Weight</label>
        <input type="number" class="form-control" id="category_weight_{{ forloop.counter }}" name="category_weight_{{ forloop.counter }}" value="{{ category.weight }}">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="category_delete_{{ forloop.counter }}" name="category_delete_{{ forloop.counter }}">
        <label class="form-check-label" for="category_delete_{{ forloop.counter }}">Delete this category</label>
    </div>
{% endfor %}

    <button type="submit" class="btn btn-primary">Update Course</button>
</form>
{% endblock content %}
