{% extends "learning_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h1>Exercises</h1>

<div class="mb-3">
    <form method="get" class="form-inline my-2 my-lg-0">
        <input type="text" name="search_query" placeholder="Search Exercise..."
               value="{{ request.GET.search_query }}" class="form-control mr-sm-2">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary mb-3">Create Default Exercise</button>
</form>



    {% for exercise in exercises %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ exercise.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-exercise' exercise.author.username %}">{{ exercise.author }}</a>
                <small class="text-muted">{{ exercise.date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'exercise-detail' exercise.id %}">{{ exercise.title }}</a></h2>
            <p class="article-content">{{ exercise.content|truncatechars:500 }}</p>
        </div>
    </article>
{% endfor %}

{% endblock content %}
