{% extends "learning_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-lessons' lesson.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == request.user or request.user.is_superuser %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'lesson-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'lesson-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>

            {% if object.video %}
                <div>
                    <strong>Video:</strong>
                    <a href="{{ object.video }}" target="_blank">View Video</a>
                </div>
            {% endif %}

            {% if object.document %}
                <div>
                    <strong>Document:</strong>
                    <a href="{{ object.document.url }}" download>{{ object.document.name }}</a>
                </div>
            {% endif %}

            {% if object.animation %}
                <div>
                    <strong>Animation:</strong>
                    <a href="{{ object.animation.url }}" download>{{ object.animation.name }}</a>
                </div>
            {% endif %}


        </div>
    </article>
{% endblock content %}